<div id="modalWriteHistory" class="modal">
<!-- Modal content -->
<div class="modal-content">
<div class="modal-header">
  <span class="close" id="closemodalWriteHistory">&times;</span>
  <h2>Escribe una historia</h2>
</div>
<div class="modal-body">
  <h4>Escribe tu historia</h4><br>
  <form class="" action="index.html" method="post" id="newHistory">

    <h5>Titulo de la historia</h5><br>
    <textarea name="txtAreaTitleHistory" rows="1" cols="2"></textarea><br>

    <h5>Cuerpo de la historia</h5><br>

    <textarea name="txtAreaHistory" rows="4" cols="80"></textarea>

    <input type="submit" name="history" value="Publicar Historia">

    <input type="text" name="txtNameUser" value="Anonimo">

    <select name="categoryName">
      <option value="AmorYAmistad">Amor y Amistad</option>
      <option value="Familia">Familia</option>
      <option value="Dinero">Dinero</option>
      <option value="Salud">Salud</option>
      <option value="Picantes">Picante</option>
      <option value="Trabajo">Trabajo</option>
      <option value="Estudio">Estudio</option>
      <option value="Varios">Varios</option>
    </select>

    </form>

</div>
</div>

</div>
<!-- The Modal Login Fin-->
